.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.test-result {
  float: left;  
}

.test-result-details {
  float: none;
  clear: both;
  border: 1px dashed royalblue;
}

.test-result-details textarea {
  width: 100%;
}

.app-tester {
  clear: both;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.app-tester button {
  float: right;
}

.app-tester .history {
  clear: both;
  padding: 2px 5px;
}